/* Body */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #ECEEF0 fixed no-repeat;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    padding: 20px;
    background-color: #3E53AD;
}

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

/* Navigasi */
.nav-button {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

/* Tombol-Navigasi */
.nav-button button {
    background-color: #788be3;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.nav-button button:hover {
    background-color: darkblue;
    color: white;
}

.nav-button button.active {
    background-color: darkblue;
    color: white;
}

/* Kalkulator */
.calculator {
    display: flex;
    justify-content: space-around;
    color: black;
    padding: 20px;
    flex-direction: row;
}

.hidden {
    display: none;
}

/* Section-Persegi dan Persegi Panjang */
.hitungluaskel {
    background-color: white;
    color: white;
    border: 2px solid navy;
    border-radius: 10px;
    width: -webkit-fill-available;
    margin: 10px;
}

.hitungluaskel>h2 {
    margin: 0;
    padding: 20px;
    color: white;
    background-color: #3E53AD;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.gambarpersegi {
    background-image: url("../assets/square.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    background-size: cover;
    justify-self: center;
}

.keterangan {
    color: black;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid black;
}

.perhitungan {
    color: black;
    padding: 10px;
}

.perhitungan>input {
    border-radius: 5px;
    height: 30px;
    width: -webkit-fill-available;
    margin-bottom: 10px;
    border-color: #CCD4DE;
}

.perhitungan>p {
    text-align: left;
}

.gambarpersegipanjang {
    background-image: url("../assets/frame.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    background-size: cover;
    justify-self: center;
}

/* Tombol Hitung */
.hitung {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Tombol Reset */
.reset {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.hitung:hover {
    background-color: black;
}

.reset:hover{
    background-color: black;
}

/* Footer */
footer {
    padding: 10px;
    background-color: #1E2A38;
    color: white;
    text-align: center;
}

/* Responsive Screen */
@media only screen and (max-width:600px){
    .calculator {
        flex-direction: column;
    }
}
